<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple app</title>
    {% load static %}
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
</head>
<body>
    <header class="wrapper">
        <div class="container">
            <nav class="header_nav"> 
                <a href="https://www.python.org/"><img src="https://pythonz.net/media/img/events/thumbs/180x236/db5c67d4-1755-461e-951f-85c82f8d4607.jpeg" alt="Img" width="50" height="50"></a>
                <ul>
                    <li><a href="/about">About</a></li>
                    <li><a href="/home">Home</a></li>
                    <li><a href="/products">Products</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="content wrapper">
        <div class="container">
            <div class="container-content">
                <div class="container-content_header">
                    <h1>
                        {% block title %}
                            {{ flatpage.title }}
                        {% endblock title %}
                    </h1>
                </div>
                <div class="container-content_body">
                    {% block content %}
                        {{ flatpage.content }}
                    {% endblock content %}
                </div>
            </div>
        </div>
    </div>
</body>
</html>