{% extends 'flatpages/default.html' %}
{% load custom_filters %}
{% load custom_tags %}

{% block title %}
    <h1>Все товары</h1>
    <h3 style="font-size: 18px; text-align: center;">Дата: {% current_time '%b %d %Y' %}</h3>
{% endblock title %}

{% block content %}
   {% if products %}
        {% for product in products %}
        <div style="display: flex; flex-direction: column; padding: 5px; margin: 5px; width: 45%; align-items: center; box-shadow: 5px 5px 10px">
            <span style="font-size: 22px;"><a href={{product.id}}>{{ product.name }}</a></span>
            <span>Описание: {{ product.description|truncatechars:15 }}</span>
            <span>Категория: {{ product.category.name }}</span>
            <span>Цена: {{ product.price|currency }}</span>
            <span>Количество: {{ product.quantity }}</span>
        </div>
        {% endfor %}
   {% else %}
       <h2>Товаров нет!</h2>
   {% endif %}
{% endblock content %}