<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple app</title>
    {% load custom_filters %}
    {% load custom_tags %}
    {% load static %}
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
</head>
<body>
    <header class="wrapper">
        <div class="container">
            <nav class="header_nav"> 
                <a href="/home" style="min-width: 15px; min-height: 15px; text-align: center;"><img src="https://pythonz.net/media/img/events/thumbs/180x236/db5c67d4-1755-461e-951f-85c82f8d4607.jpeg" alt="Img" width="50px" height="50px"></a>
                <ul>
                    <li>
                        <a href="/about" {% if request.get_full_path == '/about/' %}class="active"{% endif %}>About</a>
                    </li>
                    <li>
                        <a href="/home" {% if request.get_full_path == '/home/' %}class="active"{% endif %}>Home</a>
                    </li>
                    <li>
                        {% url 'posts' as url_posts %}
                        <a href="{% url  'posts' %}"{% if url_posts in request.get_full_path %}class="active"{% endif %}>Posts</a>
                    </li>
                    <li>
                        {% url 'search' as url_search %}
                        <a href="{% url 'search' %}"{% if url_search in request.get_full_path %}class="active"{% endif %}>Search</a>
                    </li>
                </ul>
                <div class="account">
                    {% if request.user.is_authenticated %}
                        <a href="#">{{ request.user.username }}</a>
                        <img src="{% static 'images/user-profile_login.png' %}" alt="My image" width="25" height="25"/>
                    {% else %}
                        <a href="http://127.0.0.1:8000/accounts/login/">log in</a>
                        <img src="{% static 'images/user-profile_unlogin.png' %}" alt="img" width="25px" height="25px">
                    {% endif %}
                </div>
            </nav>
        </div>
    </header>
    <div class="content wrapper">
        <div class="container">
            <div class="container-content">
                <div class="container-content_header">
                    <h1>
                        {% block title %}
                            {{ flatpage.title }}
                        {% endblock title %}
                    </h1>
                </div>
                <div class="container-content_body">
                    {% block content %}
                        {{ flatpage.content }}
                    {% endblock content %}
                </div>
            </div>
        </div>
    </div>

    {% if not url_search == request.get_full_path %}
    <div class="pagination">
        <span class="step-links">
            
                {% if page_obj.has_previous %}
                    <a href="?{% url_replace page=1 %}">&laquo; первая</a>
                    <a href="?{% url_replace page=page_obj.previous_page_number %}">назад</a>
                {% endif %}
        
                <span class="current">
                    {% if page_obj.has_previous %}
                        {{ page_obj.previous_page_number}}
                    {% endif %}

                    <<{{page_obj.number}}>>

                    {% if page_obj.has_next %}
                        {{ page_obj.next_page_number}}
                    {% endif %}
                </span>
        
                {% if page_obj.has_next %}
                    <a href="?{% url_replace page=page_obj.next_page_number %}">далее</a>
                    <a href="?{% url_replace page=page_obj.paginator.num_pages %}">последняя &raquo;</a>
                {% endif %}
        </span>
    </div>
    {% endif %}
</body>
<footer>

</footer>
</html>