{% extends 'flatpages/default.html' %}
{% load custom_filters %}

{% block title %}
    {{post.post_header}}
{% endblock title %}

{% block content %}
    <div class="post-container">
        <div class="post">
            <h1>{{ post.post_header }}</h1>
            <p>Дата публикации: {{ post.creation_date|date:"d.m.y" }}</p>
            <hr style="margin-top: 5px; margin-bottom: 5px;">
            <p>{{ post.post_text|censor }}</p>
            {% if post.choise == 'AR' %}
                <p><a href="{% url 'article_delete' pk=post.id%}">Удалить: </a></p>
                <p><a href="{% url 'article_edit' pk=post.id%}">Изменить: </a></p>
            {% elif post.choise == 'NE' %}
                <p><a href="{% url 'news_delete' pk=post.id%}">Удалить: </a></p>
                <p><a href="{% url 'news_edit' pk=post.id%}">Изменить: </a></p>
            {% endif %}
        </div>
    </div>
{% endblock content %}