{% extends 'default.html' %}
{% load i18n %}

{% block title %}

    {% if post.choise %}
    <h1>{% trans 'Edit article' %}</h1>
    {% else %}
    <h1>{% trans 'Create article' %}</h1>
    {% endif %}
    
{% endblock title %}

{% block content %}
{% if post.choise == 'AR' or post.choise is None %}
<form action="" method="post" style="text-align: center;">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="{% trans 'Save' %}" />
</form>
{% else %}
    <h2>Это не статья!</h2>
{% endif %}
{% endblock content %}